---
layout: base
---

<header class="section spot-color-secondary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
        <h2 class='fade-in'>🍦🧃🧁🥥🎂🌭🌮🥙🏌️</h2>
      </section>
    </div>
  </div>

  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="wrapper region">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %} {% for post in runs %}

    <li class="card flow overflow-hidden">
      <h2>
        <a href="/runs/{{ post.id | url }}/{{ post.title | slugify }}/">{{ post.title }}</a>
      </h2>
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <p>{{ post.content_html|safe }}</p>
    </li>

    {% endfor %}
  </ul>
</article>
